rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Current rule for screenshots
    match /registrations/{allPaths=**} {
      allow read, write: if true;
    }
    
    // NEW rule to allow QR codes
    match /qrcodes/{allPaths=**} {
      allow read, write: if true;
    }
  }
}