rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Current rule for screenshots
    match /registrations/{allPaths=**} {
      allow read, write: if true;
    }
    
    // QR codes
    match /qrcodes/{allPaths=**} {
      allow read, write: if true;
    }

    // Certificates
    match /certificates/{allPaths=**} {
      allow read, write: if true;
    }
  }
}